<h1>Orders#edit</h1>

<%=form_with(model: @order) do |f|%>
        
    <%=f.label(:address)%><br>
    <%=f.text_field :address%><br>

    <%=f.label(:item)%><br>
    <%=f.text_field :item%><br>
    
    <%=f.label(:quantity)%><br>
    <%=f.text_field :quantity%><br>
    
    <%=f.label(:price)%><br>
    <%=f.text_field :price%><br>
    
    <%=f.submit 'Update Order'%>

<% end %>







<br><%= button_to "Delete Order", order_path(@order), method: :delete %>