<h1>Orders#new</h1>


    <%=form_for(@order) do |f|%>
        
        <%=f.label(:address)%><br>
        <%=f.text_field :address%><br>
    
        <%=f.label(:item)%><br>
        <%=f.text_field :item%><br>
        
        <%=f.label(:quantity)%><br>
        <%=f.text_field :quantity%><br>
        
        <%=f.label(:price)%><br>
        <%=f.text_field :price%><br>
        
        <%=f.submit 'Submit Order'%>
    <%end%>    