<h1>Orders#new</h1>

<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

    <ul>
      <% @order.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>





    <%=form_for(@order) do |f|%>
        
        <%=f.label(:address)%><br>
        <%=f.text_field :address%><br>
    
        <%=f.label(:item)%><br>
        <%=f.text_field :item%><br>
        
        <%=f.label(:quantity)%><br>
        <%=f.text_field :quantity%><br>
        
        <%=f.label(:price)%><br>
        <%=f.text_field :price%><br>
        
        <%=f.submit 'Submit Order'%>
    <%end%>    